{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Print Tickets</title>
	<link rel="stylesheet" href="{% static 'routes/css/skeleton.css' %}">
	<link rel="stylesheet" href="{% static 'routes/css/print.css' %}">
    </head>
    <body>
<div class="container">
	<h1>Frozen {{ date }} {{ time }}</h1>
    <div class="froz-tickets">
	{% for bin in bins %}
	<div class="froz-bin">
	<div class="row">
	<div class="two columns">
	<h2>{{ bin.quantity }}</h2>
	</div>
	<div class="nine columns">
		<h2>{{ bin.label }}</h2>
	</div>
	<div class="row">
	<p>
	</div>
	</div>
	<table width="100%">
		<tr>
			<th>Item #</th><th>Description</th><th>Quantity</th>
		</tr>
		{% for share in bin.box.shares %}
		<tr>
			<td>{{ share.item.item_code }}</td><td>{{ share.item.description }}</td><td>{{ share.quantity }}</td>
		</tr>
        {% empty %}
        <tr>
			<td>There are no frozen items for this box type.</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endfor %}
    </div>
</div>
    </body>