
<!DOCTYPE html>
<html>
    <head>
        <title>Print route lists</title>
        
	<link rel="stylesheet" href="/static/css/skeleton.css">
        <link rel="stylesheet" href="/static/routes/css/listfinesse.css">

    </head>
    <body>
{% for route in order %}
<div class='route'>
<div class='row'>
<div class="two columns">
	<h3>Route {{ route.route_name }}</h3>
</div>
<div class="four columns">
    <h3>{{ route.date }}</h2>
</div>
<div class="one columns">
    <h3>{{ route.time }}</h2>
</div>
<div class="two columns">
    <h3>{{ route.driver }}</h3>
</div>
</div>
<div class="row header">
	<div class="one column"><p>#</p></div>
	<div class="two columns"><p>Address</p></div>
	<div class="three columns"><p>Notes</p></div>
	<div class="two columns"><p>Name</p></div>
	<div class="one columns"><p>ID</p></div>
	<div class="two columns"><p>Phone</p></div>
</div>
	{% for visit in route.visits %}
	<div class="row entry">
			<div class="one column"><p><strong>{{ visit.stop_num }}</strong></p></div>
			<div class="two columns"><p>{{ visit.address }}, {{ visit.city }} {{ visit.zip }}</p></div>
			<div class="three columns"><p>{{ visit.delivery_notes }}</p></div>
			<div class="two columns"><p>{{ visit.maincontact }}</p></div>
			<div class="one columns"><p>{{ visit.member_id }}</p></div>
			<div class="two columns"><p>{{ visit.phone }}</p></div>
	</div>
	{% endfor %}
</div>
 {% endfor %}
    </body>
</html>