.message-display {
	margin-bottom: 1em;
}

.message-text {
	border: 1px dotted black;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 5px;
}

.text-log {
	border: 1px dotted black;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 5px;
}

.reply {
	font-size: smaller;
	color: gray;
}

.edit {
	font-size: smaller;
}

.froz-menu {
	border: 1px dotted black;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 5px;
	page-break-inside: avoid;
}