{% extends 'texts/base.html' %}
{% block content %}
<table>
    <caption>additions by date</caption>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time window</th>
            <th>Product Item Code</th>
            <th>Product Description</th>
        </tr>
    </thead>
    <tbody>
        {% for addition in additions %}
        <tr>
            <td>
               {{ addition.date }}
            </td>
            <td>
                {{ addition.time_window }}
            </td>
            <td>
                {{ addition.item_code }}
            </td>
            <td>
                {{ addition.description }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}