{% extends 'texts/base.html' %}
{% block content %}
<div class="nav">
	<p><a href="{% url 'home' %}">Home</a> > <a href="{% url  'fulfillment-menu' %}">Fulfillment</a> > Upload xls</p>
</div>
    <form enctype="multipart/form-data" action="{% url 'post-invoice' %}" method="POST">
        {% csrf_token %}
        <div class="start-selector">
            <h3>Invoice start date</h3>
            <div>{{ start_date_form }}</div>
        </div>
        <div class="end-selector">
            <h3>Invoice end date</h3>
            <div>{{ end_date_form }}</div>
        </div>
        <div class="file-selector">
            <h3>Upload warehouses xls</h3>
        <div>{{ file_form }}</div>
        </div>
        <div>
        <button class="button-primary" type="submit">
            Upload routes xls
        </button>
        </div>
    </form>
{% endblock %}