{% extends 'texts/base.html' %}
{% block content %}
<div class="nav">
	<p><a href="{% url 'home' %}">Home</a> > Send texts</p>
</div>
<div id="vue_app">
<h1>Send a new message</h1>
<div class="message-display">
	<div class="row">
	<div class="eight columns">
	<h4>Current Message <a class="edit" href="{% url 'edit-words' %}">edit</a></h4>
	<div class="message-text">
	<h5>{{ words.words }}</h5>
	</div>
	</div>
	<div class="four columns">
	<h4>Your csv must have these columns:</h4>
	<ul>
		<li>phone</li>
		{% for field in words.fill_fields %}
		<li>{{ field }}</li>
		{% endfor %}
	</ul>
	</div>
	</div>
	
<div v-show="sending"><p>Your texts are currently sending.</p></div>
</div v-show-"!sending">
			{% if messages %}
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			{% endif %}
<form enctype="multipart/form-data" action="{% url 'text-home' %}" method="POST">
	{% csrf_token %}
	<div class="file-selector">
		<h4>Upload recipients csv</h4>
	<div>{{ form }}</div>
	</div>
	<div>
	<button class="button-primary" type="submit" @click="markSending()">
		Send this text
	</button>
	</div>
</form>

<h6>Active reply message <a href="{% url 'edit-reply' %}">edit</a></h6>
<div class="row reply">
	<div class="six columns">
		<p>{{ reply.words }}</p>
	</div>
</div>
</div>
<script type="text/javascript">
    const app = new Vue({
        el: "#vue_app",
        delimiters: ['[[', ']]'],
        data() {
            return {
                sending: false
            }
        },
        methods: {
            markSending() {
                this.sending = true;
            }
        }
    });
    </script>
{% endblock %}